<html>
<head>  
    <meta charset="UTF-8">
    <title>有奖征集活动</title>
    <style type="text/css">
a{ 
    display:inline-block; width:120px;
    height:30px;
    border:2px outset #eee;
    background:#eee; text-align:center;
    font-size:12px; color:#000; text-decoration:none; 
    padding-top:10px; 
    margin: 0 auto;
}
a:hover{ border:2px inset #eee; background:#CCCCCC; text-decoration:none; } 
    </style>

</head>
<body>
    <a href="exportArticle.php" target="_blank"> 导出文章 </button>
    <a href="exportDrawList.php" target="_blank"> 导出获奖列表 </button>
</body>
</html>
